@charset "UTF-8";

body {
	background-color: #f5f5f5;
}

img {
	width: 80px;
}

input {
	width: 220px;
}
.lock-img {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 20px;
}

a {
	color: #918981;
}

button {
	padding: 1% 18%;
}

fieldset { 
	border-radius: 5px;
}

.findPw-box, .back-signin-link {
	text-align: center;
	border: #867f77 solid 1px;
	border-radius: 10px;
	padding-top: 10px;
}

.findPw-page-button button {
	background-color: #918981;
	border: solid 1px #918981;
	border-radius: 5px;
	font-size: 20px;
}

.out-line {
	text-align: center;
	padding: 8% 35%;
}