@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	position: sticky;
	top: 0;
}

.header {
	background-color: rgb(187, 184, 184);
	color: #fff;
	padding: 10px 20px;
	display: flex;
	align-items: center;
}

.header .logo {
	margin: 0 auto;
}

.header .logo img {
	width: 40px;
	align-items: center;
}

.header .profile {
	margin-left: auto;
}

.header .profile img {
	width: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

.header .buttons {
	display: flex;
	align-items: center;
	position: absolute;
	right: 20px;
}

.header .buttons button {
	margin-left: 1px;
	padding: 8px 12px;
	background-color: #232323;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

.header .search-box {
	margin-right: 10px;
}

.header .search-box input[type="text"] {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.mainLogo {
	text-align: center;
}

.mainLogo img {
	width: 750px;
	height: 750px;
	padding-top: 50px;
}