@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	position: sticky;
	top: 0;
	z-index: 1000;
}

.header {
	background-color: rgba(186, 182, 182, 0.9);
	color: #fff;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .logo {
	text-align: center;
	flex-grow: 1;
	flex-shrink: 0;
}

.header .logo img {
	width: 65px;
	height: 65px;
	padding-left: 20px;
	margin-right: 10px;
}
#headerCenterContent{
	display: flex;
	align-items: center;
	justify-content: center;
}
.header .log #headerLogoText{
	text-align: center;
	margin-left: 10px;
}
#headerLogoText{
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.header .profile, .header .buttons, .header .write-button {
	display: flex;
	align-items: center;
}

.header .profile img {
	width: 40px;
	border-radius: 50%;
	margin-right: 5px;
}

.profile {
	display: flex; /* 요소들을 플렉스 박스로 설정하여 정렬 */
	align-items: center; /* 요소들을 수직으로 아래로 정렬 */
	flex-direction: column; /*세로 정렬*/
	margin-right: 10px;
	color: black ;
	font-size: 15px; solid-color: black
}
.profile span{
	margin-right: 1px;
}

.header .buttons {
	display: flex;
	align-items: center;
}

.header .buttons button {
	margin-left: 1px;
	padding: 8px 12px;
	background-color: black;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

.header .search-box {
	margin-right: 10px;
}

.header .search-box input[type="text"] {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.write-button button {
	margin-left: 10px;
	padding: 8px 12px;
	background-color: black;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}