@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	position: sticky;
	top: 0;
	z-index: 10;
}

.header {
	background-color: #918981;
	color: #fff;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .logo {
	text-align: center;
	flex-grow: 1;
	flex-shrink: 0;
}

.header .logo img {
	width: 40px;
	padding-left: 250px;
}

.header .profile, .header .buttons, .header .write-button {
	display: flex;
	align-items: center;
}

.header .profile img {
	width: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

.header .buttons {
	display: flex;
	align-items: center;
}

.header .buttons button {
	margin-left: 1px;
	padding: 8px 12px;
	background-color: #555;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

.header .search-box {
	margin-right: 10px;
}

.header .search-box input[type="text"] {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.mainLogo {
	text-align: center;
}

.mainLogo img {
	width: 750px;
	height: 750px;
	padding-top: 50px;
}

.write-button button {
	margin-left: 10px;
	padding: 8px 12px;
	background-color: #555;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}