@charset "UTF-8";

#total-body {
	background-color: #D9D9D9;
	margin-left: 5%;
	margin-right: 5%;
}

#report-top {
	display: flex;
	justify-content: space-between;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 3%;
}

.r_title {
	font-size: 30px;
}

.r_user,
.r_date {
	font-size: 15px;
}

.r_user {
	margin-top: 1%;
	margin-bottom: 1%;
}

#report-body {
	display: flex;
	justify-content: space-around;
	color: white;
}

.r_content,
.comment {
	background-color: #7F7F7F;
	width: 80%;
	height: 600px;
	max-height: 1000px;
	overflow-y: auto;
	margin: 3% auto;
	padding: 3%;
}

.comment a {
	color: white;
}

.comment form {
	display: flex;
	max-height: 100px;
	overflow-y: auto;
	margin-left: 1%;
	margin-right: 3%;
}

.comment textarea {
	width: 100%;
	resize: vertical;
}

.comment button[type="submit"] {
	margin-left: 5px;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	align-self: flex-end;
	white-space: nowrap;
}

#report_bottom_left,
#report_bottom_right {
	display: flex;
	justify-content: center;
	align-items: center;
}

.delete-btn,
.update-btn {
	background-color: #fff;
	color: #000;
	padding: 8px 16px;
	border: 1px solid #000;
	border-radius: 5px;
	cursor: pointer;
}

.c_body{
	display: flex;
	justify-content: space-between;

}

.comment_btn{
	margin: 5px 5px 0 5px;
}

.comment_delete_btn,
.comment_update_btn {
	background-color: #fff;
	color: #000;
	padding: 5px 10px;
	border: 1px solid #bebebe;
	border-radius: 5px;
	cursor: pointer;
	font-size: 11px;
}

.r_like {
	position: relative;
	margin-left: 20%;
	margin-right: 20%;
}

.r_like img {
	width: 80px;
	height: 80px;
}

.r_like div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;
	font-size: 18px;
	font-weight: bold;
}

.c_top {
	display: flex;
	justify-content: space-between;
}

.c_top p {
	right: 0;
	font-size: 12px;
}

.c_top a {
	font-size: 15px;
	margin-top: 12px;
	margin-bottom: 12px;
}

.c_content {
	margin: 5px;
	max-width: 68%;
}

.separator {
	height: 1px;
	width: 100%;
	background-color: #ccc;
	margin: 10px 0;
	border: none;
}