@charset "UTF-8";

#total-body {
	background-color: #D9D9D9;
	margin-left: 5%;
	margin-right: 5%;
}

#report-top {
	display: flex;
	justify-content: space-between;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 3%;
}

.r_title {
	font-size: 30px;
}

.r_user, .r_date {
	font-size: 15px;
}

.r_user {
	margin-top: 1%;
	margin-bottom: 1%
}

#report-body {
	display: flex;
	justify-content: space-around;
	color: white;
}

.r_content {
	background-color: #7F7F7F;
}

.comment {
	background-color: #696969;
}

.comment a {
	color: white;
}

.r_content, .comment {
	width: 80%;
	height: 600px;
	max-height: 1000px;
	overflow-y: auto;
	margin-left: 3%;
	margin-right: 3%;
	padding: 3%;
}

.comment form {
	display: flex;
	max-height: 100px;
	overflow-y: auto;
	margin-left: 1%;
	margin-right: 3%;
}

.comment textarea {
	width: 100%;
	resize: vertical;
}

.comment button[type="submit"] {
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	align-self: flex-end;
	white-space: nowrap;
}

#report-bottom {
	display: flex;
	justify-content: space-around;
}

#report_bottom_left {
	width: 350px; display : flex;
	align-items: center;
	display: flex;
	position: relative;
	left: 35px;
}

#report_bottom_right {
	position: relative;
	left: 40px;
}

.r_like img {
	width: 80px;
	heigth: 80px;
}

/* Delete와 Update 버튼 스타일링 */
.delete-btn, .update-btn {
	background-color: #fff;
	color: #000;
	padding: 8px 16px;
	border: 1px solid #000;
	border-radius: 5px;
	cursor: pointer;
}

.r_like {
	position: relative;
	margin-left: 20%;
	margin-right: 20%;
}

.r_like img {
	width: 80px;
	height: 80px;
}

.r_like div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;
	font-size: 18px;
	font-weight: bold;
}

.delete-btn:hover, .update-btn:hover {
	background-color: #000;
	color: #fff;
}

.c_top {
	display: flex;
	justify-content: space-between;
}

.c_top p {
	right: 0;
	font-size: 12px;
}

.c_top a {
	font-size: 15px;
}

.c_content {
	margin: 5px;
}

.separator {
	height: 1px; /* 선의 높이를 설정 */
	width: 100%; /* 선이 가로로 꽉 차도록 설정 */
	background-color: #ccc; /* 선의 색상을 지정 */
	margin: 10px 0; /* 원하는 간격 설정 */
	border: none; /* 테두리 제거 */
}