@charset "UTF-8";

body {
	background-color: #f5f5f5;
}

a {
	color: #918981;
}

fieldset {
	border-radius: 5px;
}

.sign-in-box, .sign-up-link {
	text-align: center;
}

.signUp-page-button button {
	padding: 1% 15%;
	background-color: #918981;
	border: solid 1px #918981;
	border-radius: 5px;
	font-size: 20px;
}

.out-line {
	text-align: center;
	padding: 10% 40%
}

.check-btn {
	padding: 0;
	border: #f5f5f5;
	width: 25px;
}

.sign-in-box {
	padding: 15px 0px;
}

.email-check {
	font-size: 12px; 
}