<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<body>
<!-- header -->
<div th:fragment="header(admin)" class="header-bar">
    <div id="headerContent">
        <th:block sec:authorize="isAuthenticated()">
            <div id="headerCenterContent">
                <img th:src="@{/images/newFullLogo.png}" alt="" onclick="moveToAdminIndex()">
                <h5>BOOKREP</h5>
            </div>
        </th:block>
        <div id="headerRightContent">
            <th:block sec:authorize="isAuthenticated()">
                <button id="Logout" onclick="signOut()">Logout</button>
            </th:block>
        </div>
    </div>
    <script th:inline="javascript">
        function moveToAdminIndex() {
            location.href = "/admin/index";
        }

        function signOut() {
            location.href = "/admin/sign-out";
        }
    </Script>
</div>
</body>
</html>