<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<body>
<!-- header -->
<div th:fragment="header(user)" class="header-bar">
    <div id="headerContent">
        <div id="headerLeftContent">
            <div id="customerImageAndName">
                <a th:href="'/user/feed/' + ${#authentication.name}" id="customerImage"></a>
            </div>
            <th:block sec:authorize="isAuthenticated()">
                <div>
                    <button id="wbr" onclick="wbr()">글 쓰기</button>
                </div>
                <div>
                    <button id="myshare" onclick="myshare()">My Share</button>
                </div>
            </th:block>
            <div>
                <button id="sharehouse" onclick="sharehouse()">Share House</button>
            </div>
        </div>

        <div id="headerCenterContent" onclick="gocustomerHome()">
            <img th:src="@{/images/newFullLogo.png}" alt="">
            <h5>BOOKREP</h5>
        </div>

        <div id="headerRightContent">
            <div id="searchBox">
                <div class="search-box">
                    <form id="searchForm" action="/user/search" method="GET">
                        <input id="keywordInput" type="text" name="keyword">
                        <img id="searchImage" th:src="@{/images/search.png}" alt="">
                    </form>
                </div>
            </div>
            <div id="headerRightContent-LogButtonBox">
                <th:block sec:authorize="isAnonymous()">
                    <button id="login" onclick="login()">Login</button>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <button id="Logout" onclick="logout()">Logout</button>
                </th:block>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        function gocustomerHome() {
            location.href = "/user/home";
        }

        let logggggggggggemail = [[${#authentication.name}]];
        console.log(logggggggggggemail);

        let customerImage = document.getElementById("customerImage");
        $.ajax({
            url: '/user/get-image',
            type: 'post',
            data: {
                email: logggggggggggemail
            },
            success: function (imageAjax) { //컨트롤러에서 넘어온 cnt값을 받는다
                console.log(imageAjax);
                let imagePath = '../resources/images/' + imageAjax;
                customerImage.innerHTML = '<img src="' + imagePath + '" alt="">';
            },
            error: function () {
                alert("에러입니다");
            }
        });

        // 검색 이미지를 클릭했을 때 폼을 제출하는 함수
        document.getElementById("searchImage").addEventListener("click", function () {
            document.getElementById("searchForm").submit(); // 폼 제출
        });

        function login() {
            location.href = "/sign-in"
        }

        function logout() {
            location.href = "/user/sign-out";
        }

        function sharehouse() {
            location.href = "/user/share-house";
        }

        function myshare() {
            location.href = "/user/my-share";
        }

        function wbr() {
            location.href = "/user/write";
        }
    </Script>
</div>

</body>

</html>