<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/manager.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>Delivery Management</title>
</head>
<body>
<header>
    <th:blcok th:insert="~{th/adminHeader::header(admin)}"></th:blcok>
</header>
<section>
    <div id="deliveryManagement">
        <div id="deliveryManagement-deliveryDetails_And_SaveButton">
            <span>배송 관리</span>
        </div>
        <div id="deliveryManagement-outputBox">
            <div id="output"></div>
        </div>
    </div>
</section>
</body>
<script th:inline="javascript">
    const goDeliveryDetail = () => {
        location.href = "/super-admin/delivery-detail";
    }
    // JSON 데이터를 파싱하여 객체로 변환
    const jsonData = [[${pathList}]];

    const adminList = [[${adminList}]];

    function moveToDetail(pathId){
        console.log(pathId);
        location.href="/super-admin/delivery-detail?path-id="+pathId;
    }

    // displayJsonData 함수를 수정하여 배열의 각 요소를 처리하도록 변경
    function displayJsonData(data) {
        let cnt = 0;
        data.forEach((element) => {
            const trade = JSON.parse(element.trade_json);
            console.log(trade);
            if (trade.length > 0) {
                const container = document.createElement('div');
                container.innerHTML = `
                                        <div id="deliveryManagement-pathInfo">
                                            <div id="deliveryManagement-tradeInfo-out">
                                                <div id="deliveryManagement-tradeInfo-tradeIdBox" style="display: flex; align-items:center; justify-content: center;" >
                                                    <button onclick="moveToDetail('${element.path_id}')" class="deliveryManagement-move-btn">PATH <br>ID : ${element.path_id}</button>
                                                </div>
                                                <div id="deliveryManagement-tradeInfo${cnt}" class="deliveryManagement-tradeInfo">
                                                    <div id="deliveryManagement-tradeInfo-fir" style="display: flex; align-items:center; justify-content: center; flex-direction: column">
                                                        <div>거래 개수 : ${trade.length}개</div>
                                                    </div>
                                                    <div id="deliveryManagement-tradeInfo-sec" style="display: flex; align-items:center; justify-content: center; flex-direction: column">
                                                        <div>총 거리 : ${((element.total_distance) / 1000).toFixed(2)}km</div>
                                                        <div>총 소요시간 : ${((element.total_duration) / 3600).toFixed(2)}시간</div>
                                                    </div>
                                                    <div>현재 기사 : ${element.deliver_admin_id ? element.deliver_admin_id : '미정'}</div>
                                                </div>
                                            </div>
                                            <div>
                                                <form action="/super-admin/match-driver" method="post" id="admin-selectForm">
                                                    <input type="hidden" value="${element.path_id}" name="path-id">
                                                    <select name="admin-id" class="admin-driverSelectBox" id="admin-driverSelectBox${cnt}">
                                                    </select>
                                                    <input type="hidden" value="${element.deliver_admin_id ? element.deliver_admin_id : '0'}" name="current-admin">
                                                    <input type="submit" value="저장" id="admin-driverSelectButton">
                                                </form>
                                            </div>
                                        </div>
                                        <div id="dropdown${cnt}"/>
                 `;
                document.getElementById('output').appendChild(container);
                let adminSelect = document.getElementById("admin-driverSelectBox" + cnt);

                adminList.forEach(
                    (admin) => {
                        let option = document.createElement("option");
                        option.value = admin;
                        option.text = admin;
                        if (element.deliver_admin_id === admin) {
                            option.selected = true;
                        }
                        adminSelect.appendChild(option);
                    }
                );

                displayTradeTable(trade, cnt);
                container.setAttribute("cnt", cnt.toString());
                document.getElementById("deliveryManagement-tradeInfo" + cnt).addEventListener("click", () => {
                    let current = Number(container.getAttribute("cnt"));
                    const tbl = document.getElementById("table" + current);
                    if (tbl.hidden === true) {
                        tbl.hidden = false;
                    } else {
                        tbl.hidden = true;
                    }
                });
                cnt++;
            }
        });
    }

    function displayTradeTable(trade, cnt) {
        let table = document.createElement("table");
        table.classList.add("dropdown-table");

        let headerRow = document.createElement("tr");
        ["거래 번호", "유저1", "유저2", "책1", "책2"].forEach((columnName) => {
            let headerCell = document.createElement("th");
            headerCell.textContent = columnName;
            headerRow.appendChild(headerCell);
        });
        table.appendChild(headerRow);
        trade.forEach((tradeItem) => {
            let row = document.createElement("tr");
            [
                tradeItem.trade_id,
                tradeItem.fir_user_email,
                tradeItem.sec_user_email,
                tradeItem.fir_book_isbn,
                tradeItem.sec_book_isbn
            ].forEach((element) => {
                let cell = document.createElement("td");
                cell.textContent = element;
                row.appendChild(cell);
            });
            table.appendChild(row);
        });
        table.hidden = true;
        table.id = "table" + cnt;
        document.getElementById("dropdown" + cnt).appendChild(table);
    }

    // JSON 데이터를 화면에 표시
    displayJsonData(jsonData);
</script>
</html>