<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/manager.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>배송 상세 페이지</title>
</head>
<script th:inline="javascript">



    const pathInfo = JSON.parse([[${path.path_json}]])
    console.log(pathInfo);
    const deliveryMap = new Map(Object.entries([[${deliveryMap}]]))
    console.log(deliveryMap);

    // const trade = JSON.parse([[${path.trade_json}]]);
    // const totalDistance = path.path_json;// 전체이동거리(미터)
    // const totalDuration = path.total_duration;// 전체이동시간(초)
    // $("#totalVisit").text(trade.length + "곳");
    // $("#totalDistance").text((totalDistance / 1000).toFixed(2) + "km");
    // $("#totalDuration").text(secondsToHoursMinutes(totalDuration));

</script>
<body>
<header>
    <th:blcok th:insert="~{th/adminHeader::header(admin)}"></th:blcok>
</header>
<section>


    <div id="deliveryDetail">
                <div id="pathInfo">
<!--                    <th:block th:text="${path}"></th:block>-->
                </div>

        <div id="deliveryDetail-sideBar">
            <div id="deliveryDetail-sideBar-designatedAdmin">
                <span><th:block th:text="${path.deliver_admin_id}"></th:block><br>금일 배송지</span>
            </div>
            <div id="deliveryDetail-sideBar-delInfo">
                <div id="deliveryDetail-sideBar-delInfo-totalNumberOfAddresses">
                    <div id="totalVisit"></div><!--받아온 정보 들어갑니다.-->
                    <span>경유지</span>
                </div>
                <div id="deliveryDetail-sideBar-delInfo-totalDeliveryDistance">
<!--                    <span th:text="${#numbers.formatDecimal((path.total_distance) / 1000, 1)} + ' km'"></span>-->
<!--                    &lt;!&ndash;받아온 정보 들어갑니다.&ndash;&gt;-->
<!--                    <span th:text="${#numbers.formatDecimal((path.total_distance) / 1000, 1)} + ' km'"></span>-->
<!--                    <th:block th:text="${#numbers.formatDecimal(path.total_distance,3,1,'COMMA')}"></th:block>-->
<!--                    <div>총 거리 : ${((path.total_distance)/1000).toFixed(2)}km</div>-->
<!--                    <div>총 소요시간 : ${((element.total_duration)/3600).toFixed(2)}시간</div>-->
                    <div id="totalDistance"></div>
                    <span>이동거리</span>
                </div>
                <div id="deliveryDetail-sideBar-delInfo-totalDeliveryTime">
                    <div id="#totalDuration"></div>
<!--                    <span><th:block th:text="${path.total_duration}"></th:block>></span>&lt;!&ndash;받아온 정보 들어갑니다.&ndash;&gt;-->
                    <span>이동시간</span>
                </div>
            </div>
            <div id="deliveryDetail-sideBar-delInfoDetailListText">배송 및 회수</div>
            <div id="deliveryDetail-sideBar-delInfoDetailList">
<!--                <th:block th:each="del:${delList}">-->

<!--                </th:block>-->

<!--                반복문으로 감싸야합니다. -->
                <div id="deliveryDetail-sideBar-delInfoDetailList-Detail">
                    <div id="deliveryDetail-sideBar-delInfoDetailList-Detail-number">N</div><!--받아온 정보 들어갑니다.-->
                    <div id="deliveryDetail-sideBar-delInfoDetailList-Detail-info">
                        <div>
                            <div>주소</div>
                            <span>인천시 qwerqwer</span><!--받아온 정보 들어갑니다.-->
                        </div>
                        <div>
                            <div>이메일</div>
                            <span>qwerqwer@naver.com</span><!--받아온 정보 들어갑니다.-->
                        </div>
                        <div>
                            <div>책 재목</div>
                            <span>qwerqwer</span><!--받아온 정보 들어갑니다.-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="map" class="deliveryDetail-map" style="width:80%;height:850px;float: right"></div>
    </div>
</section>
</body>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3018d8b0b46abd897e34e5cbd691ca18"></script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(pathInfo[0].y, pathInfo[0].x), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    var positions = [];

    for (let position of deliveryMap.values()) {

        positions.push({
            title: position.userEmail,
            latlng: new kakao.maps.LatLng(position.y, position.x),
            // content: '<div>' + position.+'</div>'
        })
    }

    function getBookImage(isbn) {
        $.ajax({
            url: "/super-admin/get-book-image",
            data: isbn,
            dataType: 'text',
            success: function (data) {
                return data;
            }
        })
    }

    var imageSrc = "/images/map-marker.svg";

    for (var i = 0; i < positions.length; i++) {

        // 마커 이미지의 이미지 크기 입니다
        var imageSize = new kakao.maps.Size(35, 35);

        // 마커 이미지를 생성합니다
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng, // 마커를 표시할 위치
            title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
            image: markerImage // 마커 이미지
        });


    }

    drawPath(pathInfo);

    var POLYLINE = null;

    function drawPath(pathPointList) {
        if (pathPointList.length > 0) {
            // 선을 구성하는 좌표 배열입니다. 이 좌표들을 이어서 선을 표시합니다
            var linePath = [];
            for (var point of pathPointList) {
                linePath.push(new kakao.maps.LatLng(point.y, point.x));
            }

            // 지도에 표시할 선을 생성합니다
            POLYLINE = new kakao.maps.Polyline({
                path: linePath, // 선을 구성하는 좌표배열 입니다
                strokeWeight: 5, // 선의 두께 입니다
                strokeColor: '#FF0000', // 선의 색깔입니다
                strokeOpacity: 0.7, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
                strokeStyle: 'solid' // 선의 스타일입니다
            });
            // 지도에 선을 표시합니다
            POLYLINE.setMap(map);
        }
    }

    // 지도에 선을 표시합니다
    polyline.setMap(map);




</script>
</html>