<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/manager.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>배송 상세 페이지</title>
</head>
<script th:inline="javascript">
    const pathInfo = JSON.parse([[${path.path_json}]]);
    console.log(pathInfo);
    const deliveryMap = new Map(Object.entries([[${deliveryMap}]]));
    console.log(deliveryMap);


    function secondsToHoursMinutes(seconds) {
        // 시간으로 변환
        const hours = Math.floor(seconds / 3600);
        // 남은 분 계산
        const minutes = Math.floor((seconds % 3600) / 60);
        // 시간과 분을 "00" 형식으로 변환. 시간이 0일 경우, 시간 표시 생략
        const formattedHours = hours > 0 ? hours.toString().padStart(2, '0') + "시간" : '';
        const formattedMinutes = minutes.toString().padStart(2, '0') + "분";
        console.log(formattedHours + '' + formattedMinutes);
        return formattedHours + '' + formattedMinutes;
    }


    $(function () {
        const trade = JSON.parse([[${path.trade_json}]]);
        const totalDistance = [[${path.total_distance}]];
        const totalDuration = [[${path.total_duration}]];
        $("#totalVisit").text(trade.length + "곳");
        $("#totalDistance").text((totalDistance / 1000).toFixed(2) + "km");
        $("#totalDuration").text(secondsToHoursMinutes(totalDuration));

        const tradeSequenceJson = JSON.parse([[${path.sequence_json}]]);
        console.log(tradeSequenceJson);
        // 이메일 정보에 따라 데이터를 동적으로 출력
        let cnt = 1;
        tradeSequenceJson.forEach((element) => {
            const delivery = deliveryMap.get(element);
            console.log(delivery);
            const deliveryTagId = "delivery" + cnt;
            const pickupTagId = "pickup" + cnt;
            const divId = "div" + cnt;
            const container = `
            <div class="deliveryDetail-sideBar-delInfoDetailList-Detail" id="${divId}">
                <div id="deliveryDetail-sideBar-delInfoDetailList-Detail-number">
                    ${cnt}
                </div>
                <div id="deliveryDetail-sideBar-delInfoDetailList-Detail-info">
                    <div>
                        <div>배송</div>
                        <select id="${deliveryTagId}" style="background: transparent; width: 200px; border: none"></select>
                    </div>
                    <div>
                        <div>회수</div>
                        <select id="${pickupTagId}" style="width: 200px; background: transparent; border: none"></select>
                    </div>
                    <div>
                        <div>이메일</div>
                        <span>${delivery.userEmail}</span>
                    </div>
                </div>
            </div>
            `;
            $("#output").append(container);
            const del = document.getElementById(deliveryTagId);
            const pic = document.getElementById(pickupTagId);
            if (delivery.deliveryList.length === 0) {
                const option = document.createElement("option");
                option.text = "없음";
                del.add(option);
            } else {
                delivery.deliveryList.forEach((delList) => {
                    const option = document.createElement("option");
                    option.text = delList;
                    del.add(option);
                });
            }

            if (delivery.pickupList.length === 0) {
                const option = document.createElement("option");
                option.text = "없음";
                pic.add(option);
            } else {
                delivery.pickupList.forEach((picList) => {
                    const option = document.createElement("option");
                    option.text = picList;
                    pic.add(option);
                });
            }
            document.getElementById(divId).addEventListener("click", function () {
                const moveLocation = new kakao.maps.LatLng(delivery.y, delivery.x);
                map.setCenter(moveLocation);
                map.setLevel(3);
            });
            cnt++;
        });
    });

</script>
<body>
<header>
    <th:block th:insert="~{th/adminHeader::header(admin)}"></th:block>
</header>
<section>
    <div id="deliveryDetail">
        <div id="deliveryDetail-sideBar">
            <div id="deliveryDetail-sideBar-designatedAdmin">
                <span><th:block th:text="${path.deliver_admin_id}"></th:block><br>금일 배송지</span>
            </div>

            <div id="deliveryDetail-sideBar-delInfo">
                <div id="deliveryDetail-sideBar-delInfo-totalNumberOfAddresses">
                    <div id="totalVisit"></div><!--받아온 정보 들어갑니다.-->
                    <span>경유지</span>
                </div>
                <div id="deliveryDetail-sideBar-delInfo-totalDeliveryDistance">
                    <div id="totalDistance"></div>
                    <span>이동거리</span>
                </div>
                <div id="deliveryDetail-sideBar-delInfo-totalDeliveryTime">
                    <div id="totalDuration"></div>
                    <span>이동시간</span>
                </div>
            </div>
            <div id="deliveryDetail-sideBar-delInfoDetailListText">배송 및 회수</div>
            <div id="deliveryDetail-sideBar-delInfoDetailList">
                <div id="output">

                </div>
                <!--                    밑에 주석으로 처리된 부분이 반복되어야할부분입니다.-->
            </div>
            <th:block th:if="${#authorization.expression('hasRole(''DRIVER'')')}">
                <form action="/driver/complete-delivery" sec:authorize="hasRole('DRIVER')" method="post">
                    <input type="hidden" name="pathId" th:value="${path.path_id}">
                    <button style="width: 310px; height: 60px; border: none; background-color: #535353FF; color: #ffffff">배송완료</button>
                </form>
            </th:block>
        </div>
        <div id="map" class="deliveryDetail-map" style="width:80%;height:850px;float: right"></div>
    </div>
</section>
</body>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3018d8b0b46abd897e34e5cbd691ca18"></script>
<script th:inline="javascript">
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(pathInfo[0].y, pathInfo[0].x), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    var positions = [];

    for (let position of deliveryMap.values()) {

        positions.push({
            title: position.userEmail,
            latlng: new kakao.maps.LatLng(position.y, position.x),
            // content: '<div>' + position.+'</div>'
        })
    }

    function getBookImage(isbn) {
        $.ajax({
            url: "/super-admin/get-book-image",
            data: isbn,
            dataType: 'text',
            success: function (data) {
                return data;
            }
        })
    }

    var imageSrc = "/images/map-marker.svg";

    for (var i = 0; i < positions.length; i++) {

        // 마커 이미지의 이미지 크기 입니다
        var imageSize = new kakao.maps.Size(35, 35);

        // 마커 이미지를 생성합니다
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng, // 마커를 표시할 위치
            title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
            image: markerImage // 마커 이미지
        });


    }

    drawPath(pathInfo);

    var POLYLINE = null;

    function drawPath(pathPointList) {
        if (pathPointList.length > 0) {
            // 선을 구성하는 좌표 배열입니다. 이 좌표들을 이어서 선을 표시합니다
            var linePath = [];
            for (var point of pathPointList) {
                linePath.push(new kakao.maps.LatLng(point.y, point.x));
            }

            // 지도에 표시할 선을 생성합니다
            POLYLINE = new kakao.maps.Polyline({
                path: linePath, // 선을 구성하는 좌표배열 입니다
                strokeWeight: 5, // 선의 두께 입니다
                strokeColor: '#FF0000', // 선의 색깔입니다
                strokeOpacity: 0.7, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
                strokeStyle: 'solid' // 선의 스타일입니다
            });
            // 지도에 선을 표시합니다
            POLYLINE.setMap(map);
        }
    }

    // 지도에 선을 표시합니다
    polyline.setMap(map);

</script>
</html>