<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library management</title>
    <link rel="stylesheet" th:href="@{/css/manager.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body>
<header>

</header>
<section>
    <div id="LibraryManagementBox">
        <div id="libraryManagement_SerchBox">
            <form action="/search" method="get">
                <input type="text" id="libraryManagement_input">
                <img th:src="@{/images/search.png}">
            </form>
        </div>
        <div id="listArea">
            <th:block th:each="library:${libraryList}">
                <div id="LB">
                    <form action="/delete" method="get" id="LB_form">
                        <div id="listArea_content" class="listAreaContent" data-writer="${library.Writer}"
                             data-detail="${library.detail}">
                            <input type="hidden" th:value="${library.writer}">
                            <input type="hidden" th:value="${library.title}">
                            <input type="hidden" th:value="${library.bookname}">
                            <div id="libraryManagement_listArea_contentView">
                                <span>작성자: <span th:text="${library.Writer}"></span></span>
                                <span>제목: <span th:text="${library.title}"></span></span>
                                <span>도서명: <span th:text="${library.bookname}"></span></span>
                            </div>
                        </div>
                        <div id="libraryManagement_listArea_contentDel">
                            <button>삭제</button>
                        </div>
                    </form>
                </div>
            </th:block>
        </div>
        <div id="paging_area">
            <a th:href="@{${keyword != null ? '&keyword=' + keyword : ''}+ '&pageNum=1'}"
               class="page-link">|◀</a>
            <th:block th:if="${currentPageNum > 3}">
                <a th:href="@{${keyword != null ? '&keyword=' + keyword : ''} + '&pageNum=' + ${currentPageNum - 3}}"
                   class="page-link">이전</a>
            </th:block>
            <th:block th:each="pageNum : ${#numbers.sequence(currentPageNum - 2, currentPageNum + 2)}">
                <th:block th:if="${pageNum >= 1 && pageNum <= tradeListSize}">
                    <a th:href="@{${keyword != null ? '&keyword=' + keyword : ''}+'&pageNum=' + ${pageNum}}"
                       th:text="${pageNum}" th:class="${pageNum == currentPageNum ? 'current-page' : 'page-link'}"></a>
                </th:block>
            </th:block>
            <th:block th:if="${currentPageNum + 2 < tradeListSize}">
                <a th:href="@{${keyword != null ? '&keyword=' + keyword : ''}+'&pageNum=' + ${currentPageNum + 3}}"
                   class="page-link">다음</a>
            </th:block>
            <a th:href="@{${keyword != null ? '&keyword=' + keyword : ''} + '&pageNum=' + ${tradeListSize}}"
               class="page-link">▶|</a>
        </div>
    </div>
</section>
<footer>

</footer>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var listAreaContents = document.querySelectorAll('.listAreaContent');
        listAreaContents.forEach(function (listAreaContent) {
            listAreaContent.addEventListener('click', function () {
                var writer = this.getAttribute('data-writer');
                var detail = this.getAttribute('data-detail');
                window.location.href = '/usermypage?writer=' + encodeURIComponent(writer) + '&detail=' + encodeURIComponent(detail)
            });
        });
    });
</script>

</html>