<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/customer.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>makeTradeRequest</title>
</head>
<!--교환 메시지 (보낸 사람 입장 - 취소있는거)-->
<body>
<header>
    <th:block th:insert="~{th/customerHeader::header(user)}"></th:block>
</header>
<section>
    <div id="MTR-full">
        <div id="MTR-full-myInfo">
            <div>
                <th:block th:with="book=${msgInfo.receivedBook}">
                    <div id="MTR-receivedBookInfo">
                        <div id="MTR-RB-image">
                            <img th:src="${book.image}" alt="">
                        </div>
                        <div id="MTR-RB-details">
                            <div th:text="'이메일: '+${msgInfo.msgDTO.received_user_email}"/>
                            <div th:text="'도서명: '+${#strings.length(book.name) > 30 ? #strings.substring(book.name, 0, 30) + '...' : book.name}"></div>
                            <div th:text="'저자명: '+${#strings.length(book.author) > 30 ? #strings.substring(book.author, 0, 30) + '...' : book.author}"></div>
                            <div th:text="'출판사: '+${book.publisher}"/>
                        </div>
                    </div>
                </th:block>
            </div>
            <div id="blankSpace"></div>
            <div>
                <th:block th:with="book=${msgInfo.sentBook}">
                    <div id="MTR-sentBookInfo">
                        <div id="MTR-SB-image">
                            <img th:src="${book.image}" alt="">
                        </div>
                        <div id="MTR-SB-details">
                            <div th:text="'이메일: '+${msgInfo.msgDTO.sent_user_email}"/>
                            <div th:text="'도서명: '+${#strings.length(book.name) > 30 ? #strings.substring(book.name, 0, 30) + '...' : book.name}"></div>
                            <div th:text="'저자명: '+${#strings.length(book.author) > 30 ? #strings.substring(book.author, 0, 30) + '...' : book.author}"></div>
                            <div th:text="'출판사: '+${book.publisher}"/>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
        <div id="MTR-btn">
            <th:block th:if="${msgInfo.msgDTO.msg_status}==0">
                <div id="MTR-btn-buttonBox">
                    <button th:onclick="cancel('[[${msgInfo.msgDTO.msg_id}]]')">취소</button>
                </div>
            </th:block>
            <div style="margin: 20px;">
                <th:block th:if="${msgInfo.msgDTO.msg_status}==1">
                    <div>교환이 수락되었습니다.</div>
                </th:block>
                <th:block th:if="${msgInfo.msgDTO.msg_status}==2">
                    <div> 교환이 거절되었습니다.</div>
                </th:block>
                <th:block th:if="${msgInfo.msgDTO.msg_status}==3">
                    <div> 교환이 취소되었습니다.</div>
                </th:block>
                <th:block th:if="${msgInfo.msgDTO.msg_status}==4">
                    <div> 교환이 완료되었습니다.</div>
                </th:block>
            </div>
        </div>
    </div>
</section>
<footer>
    <th:block th:insert="~{th/footer}"></th:block>
</footer>
</body>
<script th:inline="javascript">
    const cancel = (msgId) => {
        console.log("cancel - msgId: ", msgId);

        $.ajax({
            url: '/user/cancel-msg',
            method: 'POST',
            data: {msgId: msgId},
            success: function (response) {
                if (response) {
                    console.log(response);
                    location.href="/user/my-trade-msgs"
                    alert('교환을 취소 하셨습니다.');
                } else {
                    alert('알 수 없는 오류로 교환이 취소되지 않았습니다.');
                }
            },
            error: function () {
                alert('서버와의 통신 중 문제가 발생했습니다.');
            }
        });
    }
</script>
</html>