<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/customer.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>myShare</title>
    <script th:inline="javascript">
        $(function () {
            let m = [[${msg}]];
            if (m != null) {
                alert(m);
            }
        });
    </script>
</head>

<body>
<header>
    <th:blcok th:insert="~{th/customerHeader::header(user)}"></th:blcok>
</header>

<section>
    <aside>
        <ul>
            <li><a th:href="@{/user/my-share}">내 교환 등록 리스트</a></li>
            <li><a th:href="@{/user/received-requests}">교환 신청 받은 책</a></li>
            <li><a th:href="@{/user/trade-requests}">교환 신청한 책</a></li>
            <li><a th:href="@{/user/my-trade-msgs}">결정된 교환 메시지</a></li>
            <li><a th:href="@{/user/my-trade-status}">교환 배송 상태</a></li>
        </ul>
    </aside>
    <div id="MyShareLogo">
        <div>
            <img th:src="@{/images/newFullLogo.png}" alt="Logo">
        </div>
        <div>
            <h1>My Share</h1>
        </div>
    </div>
    <div id="myShareBox">
        <!--내 교환 등록 리스트-->
        <div id="myShare-tradeList">
            <div id="myShare-tradeList-title">
                <h1>내 교환 등록 리스트</h1>
            </div>
            <div id="myShare-tradeList-contents">
                <th:block th:if="${tradeList == null || tradeList.isEmpty()}">
                    <div>교환 등록한 책이 없습니다.</div>
                </th:block>
                <th:block th:unless="${tradeList == null || tradeList.isEmpty()}">
                    <th:blcok th:each="tradePage:${tradeList}">
                        <th:block th:if="${tradePage.pageNum == currentPageNum}">
                            <th:blcok th:each="trade:${tradePage.objectList}">
                                <div id="myShare-tradeList-content">
                                    <div id="myShare-tradeList-content-imgbox">
                                        <img th:src="${trade.book != null ? trade.book.image : '/images/noBook.jpg'}" alt=""
                                             style="height: 120px; width: 80px;">
                                    </div>
                                    <div id="myShare-tradeList-content-infobox" th:data-isbn="${trade.book.isbn}">
                                        <div>
                                            <p>도서명: <span th:text="${trade.book != null ? trade.book.name : 'Unknown'}"></span>
                                            </p>
                                        </div>
                                        <div>
                                            <p>작가: <span th:text="${trade.book != null ? trade.book.author : 'Unknown'}"></span>
                                            </p>
                                        </div>
                                        <div>
                                            <p>출판사: <span
                                                    th:text="${trade.book != null ? trade.book.publisher : 'Unknown'}"></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div id="myShare-tradeList-content-delButtonBox">
                                        <th:blcok th:if="${trade.bookTrade.book_trade_status} == 1">
                                            <button id="myShare-tradeList-content-delButton"
                                                    th:onclick="deleteBookTrade('[[${trade.bookTrade.book_trade_id}]]')">삭 제
                                            </button>
                                        </th:blcok>
                                        <th:blcok th:unless="${trade.bookTrade.book_trade_status} == 1">
                                            <div>진행 중</div>
                                        </th:blcok>
                                    </div>
                                </div>
                            </th:blcok>
                        </th:block>
                    </th:blcok>
                </th:block>
            </div>
            <div id="paging_area">
                <a th:href="@{'?pageNum=1'}" class="page-link">|◀</a>
                <th:block th:if="${currentPageNum > 3}">
                    <a th:href="@{'?&pageNum=' + ${currentPageNum - 3}}" class="page-link">이전</a>
                </th:block>
                <th:block th:each="pageNum : ${#numbers.sequence(currentPageNum - 2, currentPageNum + 2)}">
                    <th:block th:if="${pageNum >= 1 && pageNum <= listMaxSize}">
                        <a th:href="@{'?pageNum=' + ${pageNum}}"
                           th:text="${pageNum}"
                           th:class="${pageNum == currentPageNum ? 'current-page' : 'page-link'}"></a>
                    </th:block>
                </th:block>
                <th:block th:if="${currentPageNum + 2 < listMaxSize}">
                    <a th:href="@{'?&pageNum=' + ${currentPageNum + 3}}"
                       class="page-link">다음</a>
                </th:block>
                <a th:href="@{'?&pageNum=' + ${listMaxSize}}" class="page-link">▶|</a>
            </div>
        </div>
    </div>
</section>
<footer>
    <th:blcok th:insert="~{th/footer}"></th:blcok>
</footer>

</body>
<script th:inline="javascript">
    const deleteBookTrade = (id) => {
        console.log("deleteBookTrade - " + id);

        $.ajax({
            url: '/user/delete-book-trade',
            method: 'Post',
            data: {id: id},
            success: function (response) {
                if (response) {
                    console.log(response);
                    document.location.reload(true);
                    alert('해당 항목이 삭제되었습니다.');
                } else {
                    alert('해당 항목이 삭제되지 않았습니다. 교환이 진행되고 있다면 삭제할 수 없습니다.');
                }
            },
            error: function () {
                alert('서버와의 통신 중 문제가 발생했습니다.');
            }
        });
    };

    document.addEventListener('DOMContentLoaded', function(){
        let listAreaContents = document.querySelectorAll('#myShare-tradeList-content-infobox');
        listAreaContents.forEach(function(listAreaContent) {
            listAreaContent.addEventListener('click', function () {
                var isbn = this.getAttribute('data-isbn');
                window.location.href = '/user/book-detail?isbn=' + encodeURIComponent(isbn);
            });
        });
    });
</script>

</html>