<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/customer.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>My Trade Msgs</title>
</head>
<body>
<header>
    <th:block th:insert="~{th/customerHeader::header(user)}"></th:block>
</header>
<section>
    <aside>
        <ul>
            <li><a th:href="@{/user/my-share}">내 교환 등록 리스트</a></li>
            <li><a th:href="@{/user/received-requests}">교환 신청 받은 책</a></li>
            <li><a th:href="@{/user/trade-requests}">교환 신청한 책</a></li>
            <li><a th:href="@{/user/my-trade-msgs}">결정된 교환 메시지</a></li>
            <li><a th:href="@{/user/my-trade-status}">교환 배송 상태</a></li>
        </ul>
    </aside>
    <br>
    <th:block th:unless="${msgList !=null or #lists.isEmpty(msgList)}">
        <div>교환 메시지가 존재하지 않습니다.</div>
    </th:block>
    <th:block th:if="${msgList != null or #lists.isEmpty(msgList)}">
        <th:block th:each="pageDTO : ${msgList}">
            <th:block th:each="tradeMap : ${pageDTO.objectList}">
                <div class="myTradeStatus-book-background">
                    <div th:text="'거래 유저: ' + ${tradeMap.msgDTO.received_user_email} + ' <-> ' + ${tradeMap.msgDTO.sent_user_email}"
                         class="myTradeStatus-trade-user-email"></div>
                    <br>
                    <div class="myTradeStatus-book-info">
                        <div class="myTradeStatus-book-info-detail">
                            <div>교환 신청 받은 책 책 정보</div>
                            <br>
                            <div>
                                <div class="myTradeStatus-book-image"><img th:src="${tradeMap.receivedBook.image}" alt=""></div>
                                <div><br>
                                    <div th:text="'도서: '+${#strings.length(tradeMap.receivedBook.name) > 20 ? #strings.substring(tradeMap.receivedBook.name, 0, 20) + '...' : tradeMap.receivedBook.name}"></div>
                                    <div th:text="'저자: '+${#strings.length(tradeMap.receivedBook.author) > 20 ? #strings.substring(tradeMap.receivedBook.author, 0, 20) + '...' : tradeMap.receivedBook.author}"></div>
                                    <div th:text="'출판사: ' + ${tradeMap.receivedBook.publisher}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="myTradeStatus-book-info-detail">
                            <div>교환 신청한 책 정보</div>
                            <br>
                            <div>
                                <div class="myTradeStatus-book-image">
                                    <img th:src="${tradeMap.sentBook.image}" alt=""></div>
                                <div><br>
                                    <div th:text="'도서: '+${#strings.length(tradeMap.sentBook.name) > 20 ? #strings.substring(tradeMap.sentBook.name, 0, 20) + '...' : tradeMap.sentBook.name}"></div>
                                    <div th:text="'저자: '+${#strings.length(tradeMap.sentBook.author) > 20 ? #strings.substring(tradeMap.sentBook.author, 0, 20) + '...' : tradeMap.sentBook.author}"></div>
                                    <div th:text="'출판사: ' + ${tradeMap.sentBook.publisher}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div th:switch="${tradeMap.msgDTO.msg_status}" class="myTradeStatus-trade-user-email">
                        <a th:case="0" th:href="@{'/user/msg-detail?id='+ tradeMap.msgDTO.msg_id}">상세페이지로 이동</a>
                        <p th:case="1" th:text="'교환이 승낙되었습니다.'"></p>
                        <p th:case="2" th:text="'교환이 거절되었습니다.'"></p>
                        <p th:case="3" th:text="'교환이 취소되었습니다.'">.</p>
                        <p th:case="*" th:text="'오류가 발생했습니다. 관리자에게 문의해주세요.'"></p>
                    </div>
                </div>
            </th:block>
        </th:block>
        <div id="paging_area">
            <a th:href="@{'?pageNum=1'}" class="page-link">|◀</a>
            <th:block th:if="${currentPageNum > 3}">
                <a th:href="@{'?pageNum=' + ${currentPageNum - 3}}" class="page-link">이전</a>
            </th:block>
            <th:block th:each="pageNum : ${#numbers.sequence(currentPageNum - 2, currentPageNum + 2)}">
                <th:block th:if="${pageNum >= 1 && pageNum <= listMaxSize}">
                    <a th:href="@{'?pageNum=' + ${pageNum}}" th:text="${pageNum}"
                       th:class="${pageNum == currentPageNum ? 'current-page' : 'page-link'}"></a>
                </th:block>
            </th:block>
            <th:block th:if="${currentPageNum + 2 < listMaxSize}">
                <a th:href="@{'?pageNum=' + ${currentPageNum + 3}}" class="page-link">다음</a>
            </th:block>
            <a th:href="@{'?pageNum=' + ${listMaxSize}}" class="page-link">▶|</a>
        </div>
    </th:block><br>
</section>
<footer>
    <th:block th:insert="~{th/footer}"></th:block>
</footer>

</body>
<script th:inline="javascript">

</script>
</html>