<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/customer.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>myTradeApplication</title>
</head>

<body>
    <header></header>
    <section>
        <div id="myTradeApplication_fullContent">
            <div id="myTradeApplication_content">
                <div>
                    <div id="myTradeApplication_content_00">
                        <div id="myTradeApplication_content_01">
                            <div id="myTradeApplication_content_01_imgBox">
                                <img src=".//images/image.png">
                            </div>
                            <div id="myTradeApplication_content_01_detailBox">
                                <div>
                                    작성자:예시입니다.
                                </div>
                                <div>
                                    책이름:예시입니다.
                                </div>
                                <div>
                                    저자:예시입니다.
                                </div>
                            </div>
                        </div>
                        <div>
                            <div id="myTradeApplication_content_02">
                                책요약: 예시입니다.
                            </div>
                        </div>
                    </div>
                </div>

                <div id="blankSpace">
                </div>

                <div>
                    <div id="myTradeApplication_content_03" class="file-upload">
                        <div id="myTradeApplication_content_04">
                            <div id="myTradeApplication_content_04_imgBox">
                                <img src=".//images/image.png">
                            </div>
                            <div id="myTradeApplication_content_04_detailBox">
                                <div>
                                    작성자:예시입니다.
                                </div>
                                <div>
                                    책이름:예시입니다.
                                </div>
                                <div>
                                    저자:예시입니다.
                                </div>
                            </div>
                        </div>
                        <div>
                            <div id="myTradeApplication_content_05">
                                책요약: 예시입니다.
                            </div>
                        </div>
                        <div class="hover-overlay">
                            <img src="./images/add.png" alt="파일 추가">
                        </div>
                    </div>
                </div>
            </div>
            <div id="myTradeApplication_fullContent_button">
                <button>수락</button>
                <button>거절</button>
            </div>
        </div>
    </section>
    <footer></footer>
</body>
<script>

</script>
</html>