<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trade Status</title>
    <link rel="stylesheet" th:href="@{/css/customer.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <th:blcok th:insert="~{th/customerHeader::header(user)}"></th:blcok>
</header>
<aside>
    <ul>
        <li><a th:href="@{/user/my-share}">내 교환 등록 리스트</a></li>
        <li><a th:href="@{/user/received-requests}">교환 신청 받은 책</a></li>
        <li><a th:href="@{/user/trade-requests}">교환 신청한 책</a></li>
        <li><a th:href="@{/user/my-trade-msgs}">결정된 교환 메시지</a></li>
        <li><a th:href="@{/user/my-trade-status}">교환 배송 상태</a></li>
    </ul>
</aside>
<br><br><br><br><br>
<br>
<th:block th:if="${tradeList == null or #lists.isEmpty(tradeList)}">
    <div>교환 배송중인 책이 없습니다.</div>
</th:block>
<th:block th:unless="${tradeList == null or #lists.isEmpty(tradeList)}">
    <th:block th:each="pageDTO : ${tradeList}">
        <th:block th:each="tradeMap : ${pageDTO.objectList}">
            <div class="myTradeStatus-book-background">
                    <div th:text="'거래 유저: ' + ${tradeMap.tradeInfo.fir_user_email} + ' <-> ' + ${tradeMap.tradeInfo.sec_user_email}"
                         class="myTradeStatus-trade-user-email"></div>
                    <br>
                <div class="myTradeStatus-book-info">
                    <div class="myTradeStatus-book-info-detail">
                        <div>첫 번째 책 정보</div>
                        <br>
                        <div>
                            <div class="myTradeStatus-book-image"><img th:src="${tradeMap.firstBook.image}" alt=""></div>
                            <div><br>
                                <div th:text="'도서: ' + ${#strings.length(tradeMap.firstBook.name) > 20 ? #strings.substring(tradeMap.firstBook.name ,0 ,20) + '...' : tradeMap.firstBook.name}"/>
                                <div th:text="'저자: ' + ${#strings.length(tradeMap.firstBook.author) > 20 ? #strings.substring(tradeMap.firstBook.author ,0 ,20) + '...' : tradeMap.firstBook.author}"/>
                                <div th:text="'출판사: ' + ${tradeMap.firstBook.publisher}"/>
                            </div>
                        </div>
                    </div>
                    <div class="myTradeStatus-book-info-detail">
                        <div>두 번째 책 정보</div>
                        <br>
                        <div>
                            <div class="myTradeStatus-book-image">
                                <img th:src="${tradeMap.secondBook.image}" alt=""></div>
                            <div><br>
                                <div th:text="'도서: ' + ${#strings.length(tradeMap.secondBook.name) > 20 ? #strings.substring(tradeMap.secondBook.name ,0 ,20) + '...' : tradeMap.secondBook.name}"/>
                                <div th:text="'저자: ' + ${#strings.length(tradeMap.secondBook.author) > 20 ? #strings.substring(tradeMap.secondBook.author ,0 ,20) + '...' : tradeMap.secondBook.author}"/>
                                <div th:text="'출판사: ' + ${tradeMap.secondBook.publisher}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div th:switch="${tradeMap.tradeInfo.trade_status}" class="myTradeStatus-trade-user-email">
                    <p th:case="0" th:text="'교환신청이 완료되었습니다.'"></p>
                    <p th:case="1" th:text="'패킹이 완료되었습니다.'"></p>
                    <p th:case="2" th:text="'배송이 완료되었습니다.'"></p>
                    <p th:case="*" th:text="'오류가 발생했습니다. 관리자에게 문의해주세요.'"></p>
                </div>
            </div> <br>
        </th:block>
    </th:block>
    <div id="paging_area">
        <a th:href="@{'?pageNum=1'}" class="page-link">|◀</a>
        <th:block th:if="${currentPageNum > 3}">
            <a th:href="@{'?pageNum=' + ${currentPageNum - 3}}" class="page-link">이전</a>
        </th:block>
        <th:block th:each="pageNum : ${#numbers.sequence(currentPageNum - 2, currentPageNum + 2)}">
            <th:block th:if="${pageNum >= 1 && pageNum <= listMaxSize}">
                <a th:href="@{'?pageNum=' + ${pageNum}}" th:text="${pageNum}"
                   th:class="${pageNum == currentPageNum ? 'current-page' : 'page-link'}"></a>
            </th:block>
        </th:block>
        <th:block th:if="${currentPageNum + 2 < listMaxSize}">
            <a th:href="@{'?pageNum=' + ${currentPageNum + 3}}" class="page-link">다음</a>
        </th:block>
        <a th:href="@{'?pageNum=' + ${listMaxSize}}" class="page-link">▶|</a>
    </div>
    <br>
</th:block>
<footer>
    <th:blcok th:insert="~{th/footer}"></th:blcok>
</footer>
</body>
</html>