<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/customer.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>receivedRequests</title>
</head>
<body>
<header>
    <th:block th:insert="~{th/customerHeader::header(user)}"></th:block>
</header>
<section>
    <aside>
        <ul>
            <li><a th:href="@{/user/my-share}">내 교환 등록 리스트</a></li>
            <li><a th:href="@{/user/received-requests}">교환 신청 받은 책</a></li>
            <li><a th:href="@{/user/trade-requests}">교환 신청한 책</a></li>
            <li><a th:href="@{/user/my-trade-msgs}">결정된 교환 메시지</a></li>
            <li><a th:href="@{/user/my-trade-status}">교환 배송 상태</a></li>
        </ul>
    </aside>
    <div id="myShareBox">
        <div id="myShare-receiveTradeRequestList">
            <div id="myShare-receiveTradeRequestList-title">
                <h1>
                    교환 신청 받은 책 리스트
                </h1>
            </div>
            <div id="myShare-receiveTradeRequestList-contents">
                <th:block th:if="${receiveTradeRequestList == null || receiveTradeRequestList.isEmpty()}">
                    <div>교환 신청받은 책이 없습니다.</div>
                </th:block>
                <th:block th:unless="${receiveTradeRequestList == null || receiveTradeRequestList.isEmpty()}">
                    <th:block th:each="receivePage : ${receiveTradeRequestList}">
                        <th:block th:if="${receivePage.pageNum == currentPageNum}">
                            <th:block th:each="receiveTradeRequest:${receivePage.objectList}">
                                <div id="myShare-receiveTradeRequestList-content" class="move-to-msg" th:msg-id="${receiveTradeRequest.msgId}">
                                    <div>
                                        <img th:src="${receiveTradeRequest.book != null ? receiveTradeRequest.book.image : '/images/noBook.jpg'}"
                                             alt="" style="height: 120px; width: 80px;">
                                    </div>
                                    <div>
                                        <p>도서명: <span th:text="${receiveTradeRequest.book.name}"></span></p>
                                        <p>작가: <span th:text="${receiveTradeRequest.book.author}"></span></p>
                                        <p>출판사: <span th:text="${receiveTradeRequest.book.publisher}"></span></p>
                                    </div>
                                </div>
                            </th:block>
                        </th:block>
                    </th:block>
                </th:block>
            </div>
            <div id="paging_area">
                <a th:href="@{'?pageNum=1'}" class="page-link">|◀</a>
                <th:block th:if="${currentPageNum > 3}">
                    <a th:href="@{'?&pageNum=' + ${currentPageNum - 3}}" class="page-link">이전</a>
                </th:block>
                <th:block th:each="pageNum : ${#numbers.sequence(currentPageNum - 2, currentPageNum + 2)}">
                    <th:block th:if="${pageNum >= 1 && pageNum <= receiveTradeRequestList.size()}">
                        <a th:href="@{'?pageNum=' + ${pageNum}}"
                           th:text="${pageNum}"
                           th:class="${pageNum == currentPageNum ? 'current-page' : 'page-link'}"></a>
                    </th:block>
                </th:block>
                <th:block th:if="${currentPageNum + 2 < receiveTradeRequestList.size()}">
                    <a th:href="@{'?&pageNum=' + ${currentPageNum + 3}}"
                       class="page-link">다음</a>
                </th:block>
                <a th:href="@{'?&pageNum=' + ${receiveTradeRequestList.size()}}" class="page-link">▶|</a>
            </div>
        </div>
    </div>
</section>
<footer>
    <th:block th:insert="~{th/footer}"></th:block>
</footer>
<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {
        let listAreaContents = document.querySelectorAll('.move-to-msg');
        listAreaContents.forEach(function (moveMsg) {
            moveMsg.addEventListener('click', function () {
                let msgId = this.getAttribute('msg-id');
                window.location.href = '/user/msg-detail?id=' + encodeURIComponent(msgId);
            });
        });
    });
</script>
</body>
</html>