<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/customer.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>myTradeRegistration</title>
</head>
<!--교환 메시지 (승낙/거절 잇는거)-->
<body>
    <header></header>
    <section>
        <div id="">
            <div id="">
                <div>
                    <div id="">
                        <div id="">
                            <div id="">
                                <img src="">
                            </div>
                            <div id="">
                                <div>
                                    작성자:예시입니다.
                                </div>
                                <div>
                                    책이름:예시입니다.
                                </div>
                                <div>
                                    저자:예시입니다.
                                </div>
                            </div>
                        </div>
                        <div>
                            <div id="">
                                책요약: 예시입니다.
                            </div>
                        </div>
                    </div>
                </div>

                <div id="">
                </div>

                <div>
                    <div id="" class="">
                        <div id="">
                            <div id="">
                                <img src="">
                            </div>
                            <div id="">
                                <div>
                                    작성자:예시입니다.
                                </div>
                                <div>
                                    책이름:예시입니다.
                                </div>
                                <div>
                                    저자:예시입니다.
                                </div>
                            </div>
                        </div>
                        <div>
                            <div id="">
                                책요약: 예시입니다.
                            </div>
                        </div>
                        <div class="">
                            <img src="">
                        </div>
                    </div>
                </div>
            </div>
            <div id="">
                <button>수락</button>
                <button>거절</button>
            </div>
        </div>
    </section>
    <footer></footer>
</body>
<script>

</script>
</html>