<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/css/manager.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body>
<header>
    <th:blcok th:insert="~{th/adminHeader::header(admin)}"></th:blcok>
</header>
<section>
    <div id="BookReportManagementBox">
        <div id="bookReportManagement_SearchBox">
            <form action="/admin/main-report-management" method="get" id="searchForm">
                <select name="option" id="searchOption">
                    <option value="title">제목</option>
                    <option value="book">도서</option>
                    <option value="user">유저</option>
                </select>
                <input type="text" id="bookReportManagement_input" name="keyword">
                <img id="searchImg" th:src="@{/images/search.png}" alt="">
            </form>
        </div>
        <div th:if="${reportList ==  null or #lists.isEmpty(reportList)}">해당 독후감이 존재하지 않습니다.</div>
        <th:block th:if="${reportList}">
            <div id="listArea">
                <th:block th:each="pageDTO:${reportList}">
                    <div id="BRB">
                        <th:block th:each="map:${pageDTO.objectList}">
                            <div class="public-manageList_content">
                                <div id="listArea_content" class="listAreaContent" th:data-id="${map.report.id}">
                                    <div id="bookReportManagement_listArea_contentView">
                                        <span>id: <span th:text="${map.report.id}"></span></span>
                                        <span>작성자: <span th:text="${map.report.userEmail}"></span></span>
                                        <span>제목: <span th:text="${map.report.title}"></span></span>
                                        <span>도서명: <span
                                                th:text="${#strings.length(map.bookName) > 8 ? #strings.substring(map.bookName, 0, 8) + '..' : map.bookName}"></span></span>
                                        <span> 작성시간: <span th:text="${map.report.time}"></span></span>
                                    </div>
                                </div>
                                <div id="bookReportManagement_listArea_contentDel">
                                    <button th:onclick="deleteReport('[[${map.report.id}]]')">삭제</button>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </th:block>
            </div>
            <div id="paging_area">
                <a th:href="@{'?pageNum=1'+ ${option != null ? '&option=' + option : ''} + ${keyword != null ? '&keyword=' + keyword : ''}}"
                   class="page-link">|◀</a>
                <th:block th:if="${currentPageNum > 3}">
                    <a th:href="@{'?pageNum=' + ${currentPageNum - 3} + ${option != null ? '&option=' + option : ''} + ${keyword != null ? '&keyword=' + keyword : ''}}"
                       class="page-link">이전</a>
                </th:block>
                <th:block th:each="pageNum : ${#numbers.sequence(currentPageNum - 2, currentPageNum + 2)}">
                    <th:block th:if="${pageNum >= 1 && pageNum <= listMaxSize}">
                        <a th:href="@{'?pageNum=' + ${pageNum} + ${option != null ? '&option=' + option : ''} + ${keyword != null ? '&keyword=' + keyword : ''}}"
                           th:text="${pageNum}"
                           th:class="${pageNum == currentPageNum ? 'current-page' : 'page-link'}"></a>
                    </th:block>
                </th:block>
                <th:block th:if="${currentPageNum + 2 < listMaxSize}">
                    <a th:href="@{'?pageNum=' + ${currentPageNum + 3} + ${option != null ? '&option=' + option : ''} + ${keyword != null ? '&keyword=' + keyword : ''}}"
                       class="page-link">다음</a>
                </th:block>
                <a th:href="@{'?pageNum=' + ${listMaxSize} + ${option != null ? '&option=' + option : ''} + ${keyword != null ? '&keyword=' + keyword : ''}}"
                   class="page-link">▶|</a>
            </div>
        </th:block>
    </div>
</section>
<footer>

</footer>
</body>
<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {
        let listAreaContents = document.querySelectorAll('.listAreaContent');
        listAreaContents.forEach(function (listAreaContent) {
            listAreaContent.addEventListener('click', function () {
                let id = this.getAttribute('data-id');
                window.location.href = '/user/report-detail?id=' + encodeURIComponent(id);
            });
        });
    });

    function deleteReport(reportId) {
        console.log(reportId);

        $.ajax({
            url: '/admin/report-delete',
            method: 'POST',
            data: {reportId: reportId},
            success: function (response) {
                if (response === "ok") {
                    console.log(response);
                    document.location.reload(true);

                    alert('삭제되었습니다.');
                } else {
                    alert('삭제에 실패했습니다.');
                }
            },
            error: function () {
                alert('서버와의 통신 중 문제가 발생했습니다.');
            }
        });
    }

    //검색창 의 검색이미지 클릭시 submit기능 하도록 해놓은 함수입니다.
    document.addEventListener('DOMContentLoaded', function () {
        // 이미지 요소를 찾습니다.
        let searchImg = document.getElementById('searchImg');
        // 클릭 이벤트를 추가합니다.
        searchImg.addEventListener('click', function () {
            // 폼을 제출합니다.
            document.getElementById('searchForm').submit();
        });
    });
</script>

</html>