<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>개인정보 처리방침</title>
</head>
<body>
<header>
</header>
<h1>개인정보처리방침</h1><br>

<h2>실질적인 서비스를 운영하지 않아 본 개인정보 처리방침은 단순한 명시용임을 말씀드립니다.</h2>

<h3>제1조 개인정보 수집에 대한 동의</h3>
<p>
    Bookrep(이하 회사)는 고객은 사이트 회원 가입 시 회원 약관, 개인정보 수집 및 이용내용에 대해 동의함 버튼을 클릭할 수 있는 절차를 마련하여, 동의함 버튼을 클릭하면 개인정보 수집 및 이용에 대해
    동의한 것으로 봅니다.
</p>

<h3>제2조 개인정보의 처리 목적, 수집항목, 보유 및 이용기간</h3>
<p>
    <strong>1. 처리 목적</strong><br>
    가입, 게시판, 교환 등의 서비스 이용, 공지사항 전달, 본인확인<br>
    <strong>2. 수집항목</strong><br>
    이메일, 비밀번호, 주소(x, y), 이름, 쿠키, 접속 로그<br>
    <strong>3. 보유 및 이용기간</strong><br>
    고객의 개인정보는 회원 탈퇴 등 수집 및 이용목적이 달성되거나 동의철회 요청이 있는 경우 지체없이 파기됩니다. 단, 관련법령의 규정에 의하여 일정 기간 보유하여야 할 필요가 있을 경우에는 그 기간동안 보유합니다.
</p>

<h3>제3조 개인정보의 제3자 제공</h3>
<p>
    회사는 회원의 개인정보를 제2조 개인정보의 수집항목 및 이용목적에서 고지한 범위를 넘어 이용하거나 타인 또는 타기업, 기관에서 제공하지 않습니다. 다만, 관계법령에 따른 요구가 있는 경우에는 예외로 합니다.
</p>

<h3>제4조 개인정보의 열람 및 정정</h3>
<p>
    회원은 언제든지 등록된 본인의 개인정보를 열람하거나 수정할 수 있으며, 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정처리결과를 제3자에게 지체없이 통지합니다.
</p>

<h3>제5조 쿠키에 의한 개인정보 수집</h3>
<p>
    <strong>1. 쿠키의 사용 목적</strong><br>
    개인의 관심 분야에 따라 차별화된 정보를 제공, 접속빈도 또는 방문시간 등을 분석<br>
    <strong>2. 쿠키의 운영 및 거부</strong><br>
    쿠키는 사용자의 컴퓨터 하드디스크에 저장되며, 사용자를 개인적으로 식별하지는 않습니다. 고객은 웹브라우저에 설정을 통해 쿠키를 허용/거부할 수 있습니다.
</p>

<h3>제6조 개인정보의 수집, 이용, 제공에 대한 동의 철회</h3>
<p>
    회원은 동의하신 내용을 언제든지 철회할 수 있으며, 동의철회는 회원탈퇴를 클릭하면 개인정보의 수집, 이용, 제공에 대한 동의를 바로 철회할 수 있습니다.
</p>

<h3>제7조 개인정보의 안정성 확보 조치</h3>
<p>
    이용자의 개인정보는 암호화되어 저장 및 관리되고 있어, 본인만이 알 수 있습니다.
</p>

<h3>제8조 개인정보보호 책임자</h3>
<p>
    책임자: 없음<br>
    사유: 실질적인 서비스를 운영하지 않습니다.<br>
</p>
</body>
</html>