<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/css/manager.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body>
<!--    <header>-->
<!--        <th:block th:insert="~{fragments::header(${session.manager})}" />-->
<!--    </header>-->
    <section>
        <div id="container2">
            <a href="/super-admin/delivery-manage"><div id="mainDeliveryStatus">배송 현황</div></a>
<!--            <a href=""><div id="mainOrderManagement">주문 관리</div></a>-->
            <a href=""><div id="mainBookreportManagement">독후감 관리</div></a>
            <a href=""><div id="mainBookManagement">도서 관리</div></a>
            <a href="/super-admin/user-manage"><div id="mainUserManagement">유저 관리</div></a> 
        </div>
    </section>
</body>

</html>