<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{static/css/customer.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>tradeRegistration</title>
</head>
<body>
<header></header>
<section>
    <form action="/user/book-select" method="get">
        <input type="text" id="searchKeyword" name="keyword" class="form-control">
        <input type="hidden" name="checkNum" value="1">
        <button type="submit" class="btn btn-info">책 검색</button>
    </form> <br><hr>

    <h2>교환 등록</h2>
    <div th:text="${userEmail} + '님'"></div>
    <div id="tradeRegistration">
        <th:block th:if="${book != null}">
            <img th:src="${book.image}" alt="No Image" style="width: 150px; height: 200px;">
        </th:block>
        <th:block th:unless="${book != null}">
            <img src="../images/no_book.jpg" alt="noBook" style="height: 250px; width: 200px;">
        </th:block>
    </div>

    <form class="form-resister" action="/user/save-resister" method="post" accept-charset="UTF-8">
        <div>
            <input type="text" name="user_email" th:value="${userEmail}" required readonly placeholder="email">
        </div>
        <div>
            <input type="text" name="book_isbn"
                   th:value="${book != null ? book.isbn : ''}"
                   required readonly placeholder="isbn">
        </div>
        <div>
            <input type="text" name="book_quantity" th:value="1" required placeholder="수량">
        </div>
        <div>
            <input type="submit" class="btn-write" value="등록" required>
        </div>
    </form>
</section>
<footer></footer>
<script th:inline="javascript">
    let lg = [[${userEmail}]];
    console.log("lg: ", lg);


</script>
</body>
</html>