<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./customer.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>tradeApplication</title>
</head>
<body>
    <header></header>
    <section>
        <div>
            <div id="tradeApplication_fullContents">
                <div id="tradeApplication_Contents_00">
                   <div id="tradeApplication_contents_01">
                        <div id="tradeApplication_contents_imgBox">
                            <img src=".//images/image.png">
                        </div>
                        <div id="tradeApplication_contents_detailBox1">
                            <div id="tradeApplication_contents_detailBox1_writer">
                                작성자:예시입니다.
                            </div>
                            <div>
                                책이름:예시입니다.
                            </div>
                            <div>
                                저자:예시입니다.
                            </div>
                        </div>
                   </div>
                   <div id="tradeApplication_contents_02">
                        <div id="tradeApplication_contents_detailBox2">
                            책요약: 예시입니다.
                        </div>
                   </div> 
                </div> 
                <div id="tradeApplication_BookSelectLink">
                    <a href="/"><img src=".//images/exBookPluse.png"></a>
                </div>
            </div>
            <div>
                <button >교환신청</button>
            </div>
        </div>
    </section>
    <footer></footer>
</body>
</html>