<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/css/manager.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body>
<header>
    <th:blcok th:insert="~{th/adminHeader::header(admin)}"></th:blcok>
</header>
<section>
    <div id="userManagementBox">
        <div id="userManagement_SearchBox">
            <form action="/admin/main-user-management" method="get">
                <select name="option" id="searchOption">
                    <option value="email">이메일</option>
                    <option value="name">이름</option>
                </select>
                <input type="text" id="userManagement_input" name="keyword" class="form-control">
                <img th:src="@{/images/search.png}" alt="">
            </form>
        </div>
        <div th:if="${userList == null or #lists.isEmpty(userList)}">
            <p>해당 유저가 존재하지 않습니다</p>
        </div>
        <th:block th:if="${userList}">
            <th:block th:each="object : ${userList}">
                <div id="listArea">
                    <div id="UB">
                        <div id="UB_form">
                            <div id="listArea_content" class="listAreaContent">
                                <div id="userManagement_listArea_contentView">
                                    <th:block th:each="user : ${object.objectList}">
                                        <div class="public-manageList_content">
                                            <div class="moveFeed listAreaContent" th:user-id="${user.email}">
                                                <span>이름: <span th:text="${user.name}"></span></span>
                                                <span>이메일: <span th:text="${#strings.length(user.email) > 23 ? #strings.substring(user.email, 0, 23) + '...' : user.email}"></span></span>
                                            </div>
                                            <div id="bookReportManagement_listArea_contentDel">
                                                <button class="deleteBtn" th:onclick="deleteUser([[${user.email}]])">삭제
                                                </button>
                                            </div>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
            <div id="paging_area">
                <a th:href="@{'?pageNum=1' + ${option != null ? '&option=' + option : ''} + ${keyword != null ? '&keyword=' + keyword : ''}}"
                   class="page-link">|◀</a>
                <th:block th:if="${currentPageNum > 3}">
                    <a th:href="@{'?pageNum=' + ${currentPageNum - 3} + ${option != null ? '&option=' + option : ''} + ${keyword != null ? '&keyword=' + keyword : ''}}"
                       class="page-link">이전</a>
                </th:block>
                <th:block th:each="pageNum : ${#numbers.sequence(currentPageNum - 2, currentPageNum + 2)}">
                    <th:block th:if="${pageNum >= 1 && pageNum <= listMaxSize}">
                        <a th:href="@{'?pageNum=' + ${pageNum} + ${option != null ? '&option=' + option : ''} + ${keyword != null ? '&keyword=' + keyword : ''}}"
                           th:text="${pageNum}" th:class="${pageNum == currentPageNum ? 'current-page' : 'page-link'}"></a>
                    </th:block>
                </th:block>
                <th:block th:if="${currentPageNum + 2 < listMaxSize}">
                    <a th:href="@{'?pageNum=' + ${currentPageNum + 3} + ${option != null ? '&option=' + option : ''} + ${keyword != null ? '&keyword=' + keyword : ''}}"
                       class="page-link">다음</a>
                </th:block>
                <a th:href="@{'?pageNum=' + ${listMaxSize} + ${option != null ? '&option=' + option : ''} + ${keyword != null ? '&keyword=' + keyword : ''}}"
                   class="page-link">▶|</a>
            </div>
        </th:block>
    </div>
</section>
<footer>

</footer>
</body>
<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {
        let listAreaContents = document.querySelectorAll('.moveFeed');
        listAreaContents.forEach(function (moveFeed) {
            moveFeed.addEventListener('click', function () {
                let email = this.getAttribute('user-id');
                window.location.href = '/user/feed/' + email;
            });
        });
    });

    function deleteUser(userEmail) {
        console.log(userEmail);

        $.ajax({
            url: '/admin/user-delete',
            method: 'POST',
            data: {userEmail: userEmail},
            success: function (response) {
                if (response === "ok") {
                    console.log(response);
                    document.location.reload(true);

                    alert('삭제되었습니다.');
                } else {
                    alert('삭제에 실패했습니다.');
                }
            },
            error: function () {
                alert('서버와의 통신 중 문제가 발생했습니다.');
            }
        });
    }
</script>
</html>