* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #D9D9D9;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section {
    height: 100%;
    margin-top: 100px;
}

/* --------------------------- */

/* haeder-bar */
.haeder-bar {
    width: 100%;
    margin: 0;
    background-color: rgba(200, 200, 200, 0.8);
}

#haederContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#haederLeftContent {
    display: flex;
    align-items: center;
}

#haederLeftContent div {
    display: flex;
    align-items: center;
}

#haederLeftContent p {
    margin: 0px;
}

#haederLeftContent img {
    height: 60px;
    /* 높이를 60px로 지정 */
    width: auto;
    /* 너비는 자동으로 조정하여 비율 유지 */
    border-radius: 50%;
    /* 원형 모양으로 만들기 */
    object-fit: cover;
    /* 이미지 비율 유지 */
    margin: 5px;
}


#headerCenterContent {
    display: flex;
    align-items: center;
}

#haederLogoText h2 {
    color: rgb(255, 255, 255);
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* 그림자 효과 적용 */
}

#headerCenterContent img {
    width: auto;
    /* 이미지의 너비를 100px로 설정 */
    height: 60px;
    /* 이미지의 높이를 자동으로 조정하여 비율을 유지 */
    margin: 5px;
}


#UnLogout {
    margin: 5px;
    padding: 8px 12px;
    background-color: #55555579;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#Logout {
    margin: 5px;
    padding: 8px 12px;
    background-color: #555555;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* footer-bar */
.footer-bar {
    width: 100%;
    background-color: rgba(200, 200, 200, 0.8);
    position: fixed;
    /* 변경 */
    bottom: 0;
    left: 0;
    /* 추가 */
    z-index: 999;
    /* 추가 */
}

#footerContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

#footerContent a {
    color: #000000;
    text-decoration: none;
    margin-right: 5px;
}

#footerContent img {
    width: auto;
    height: 60px;
    margin: 5px;
}

/* ---(추가) 해더 우측 검색 버튼--- */
#haederRightContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

#haederRightContent_searchImg {
    width: 20px;
    width: 20px;
    cursor: pointer;
    margin-left: 3px;
}

#haederRightContent_input{
    border: #000000 solid;
    border-radius: 4px;
}

#searchForm_div{
    position: relative;
    display: flex;
    align-items: center;
}
/* --- --- */


/* Share House */
#shareHouse_content {
    display: flex;
    justify-content: center;
}

#shareList {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #ffffffb2;
}

#tradeRegistration {
    margin-top: 20px;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#tradeRegistration button {
    height: 35px;
    width: 110px;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    background-color: rgb(126, 165, 108);
    border: 0px;
    border-radius: 5px;

}

/* --------------------------------------------------------- */







/* myShare,shareHouse*/


/* ----------------------------------------- */







/* tradeRegistration */
#tradeRegistration {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tradeRegistration img {
    height: 690px;
    width: 520px;
}

/* -------------------------------------------- */






/* tradeApplication */
#tradeApplication_fullContents {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tradeApplication_Contents_00 {
    border: 2px solid black;
    margin-right: 50px;
    height: 690px;
    width: 520px;
    padding: 25px;
    font-size: large;
}

#tradeApplication_contents_01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tradeApplication_contents_01 img {
    height: 290px;
}

#tradeApplication_contents_detailBox1 {
    margin-left: 20px;
    width: 300px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#tradeApplication_contents_detailBox1 div {
    padding: 5px;
}

#tradeApplication_contents_detailBox1_writer {
    border-bottom: 2px solid black;
}


#tradeApplication_contents_02 {
    margin-top: 20px;
}

#tradeApplication_BookSelectLink {
    margin-left: 50px;
}

#tradeApplication_BookSelectLink img {
    height: 690px;
    width: 520px;
}

/* ------------------------------------- */






/* myTradeApplication,myTradeRegistration */

#myTradeApplication_content,
#myTradeRegistration_content {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#myTradeApplication_content_00,
#myTradeApplication_content_03,
#myTradeRegistration_content_00,
#myTradeRegistration_content_03 {
    border: 2px solid black;
    height: 690px;
    width: 520px;
    padding: 25px;
    font-size: large;
    background-color: #ffffffb2;
}

#myTradeApplication_content_01,
#myTradeApplication_content_04,
#myTradeRegistration_content_01,
#myTradeRegistration_content_04 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#myTradeApplication_content_01_detailBox,
#myTradeApplication_content_04_detailBox,
#myTradeRegistration_content_01_detailBox,
#myTradeRegistration_content_04_detailBox {
    margin-left: 20px;
    width: 300px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#myTradeApplication_content_02,
#myTradeApplication_content_05,
#myTradeRegistration_content_02,
#myTradeRegistration_content_05 {
    margin-top: 20px;
}

#myTradeApplication_content_01_imgBox img,
#myTradeApplication_content_04_imgBox img,
#myTradeRegistration_content_01_imgBox img,
#myTradeRegistration_content_04_imgBox img {
    width: auto;
    height: 290px;
}

#blankSpace {
    min-width: 100px;
    height: auto;
}

#myTradeApplication_fullContent_button,
#myTradeRegistration_fullContent_button {
    margin: 10px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#myTradeApplication_fullContent_button button,
#myTradeRegistration_fullContent_button button {
    height: 35px;
    width: 110px;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    background-color: rgb(126, 165, 108);
    border: 0px;
    border-radius: 5px;
    margin: 5px;
}

#myTradeApplication_content_03:hover,
#myTradeRegistration_content_03:hover {
    background-color: rgba(175, 175, 175, 0.5);
    /* 반투명한 회색 배경을 지정합니다. */
}

#myTradeApplication_content_03:hover img,
#myTradeRegistration_content_03:hover img {
    filter: brightness(70%);
    /* 이미지의 밝기를 줄여 반투명하게 만듭니다. */
}

.hover-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    /* 초기에는 보이지 않도록 설정합니다. */
}
.hover-overlay img{
    width: 130px;
    height: 130px;
}

#myTradeApplication_content_03:hover .hover-overlay,
#myTradeRegistration_content_03:hover .hover-overlay {
    opacity: 1;
    /* 호버 효과가 발생했을 때 보이도록 설정합니다. */
}

#myTradeApplication_content_03,
#myTradeRegistration_content_03 {
    position: relative;
    /* 부모 요소에 상대적 위치를 설정합니다. */
}

/* --------------------------------------- */
