/* 전체 기본 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section {
    height: 100%;
    margin-top: 200px;
}

/* fragmants(haeder,footer) */
/* 스타일 은 CSS로 넘어가야 합니다. */
/* haeder-bar */
.haeder-bar {
    width: 100%;
    margin: 0;
    background-color: rgba(200, 200, 200, 0.8);
}

#haederContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#haederLeftContent {
    display: flex;
    align-items: center;
}

#haederLeftContent div {
    display: flex;
    align-items: center;
}

#haederLeftContent p {
    margin: 0px;
}

#haederLeftContent img {
    height: 60px;
    /* 높이를 60px로 지정 */
    width: auto;
    /* 너비는 자동으로 조정하여 비율 유지 */
    border-radius: 50%;
    /* 원형 모양으로 만들기 */
    object-fit: cover;
    /* 이미지 비율 유지 */
    margin: 5px;
}


#headerCenterContent {
    display: flex;
    align-items: center;
}

#haederLogoText h2 {
    color: rgb(255, 255, 255);
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* 그림자 효과 적용 */
}

#headerCenterContent img {
    width: auto;
    /* 이미지의 너비를 100px로 설정 */
    height: 60px;
    /* 이미지의 높이를 자동으로 조정하여 비율을 유지 */
    margin: 5px;
}


#UnLogout {
    margin: 5px;
    padding: 8px 12px;
    background-color: #55555579;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#Logout {
    margin: 5px;
    padding: 8px 12px;
    background-color: #555555;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* footer-bar */
.footer-bar {
    width: 100%;
    background-color: rgba(200, 200, 200, 0.8);
    position: fixed;
    /* 변경 */
    bottom: 0;
    left: 0;
    /* 추가 */
    z-index: 999;
    /* 추가 */
}

#footerContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

#footerContent a {
    color: #000000;
    text-decoration: none;
    margin-right: 5px;
}

#footerContent img {
    width: auto;
    height: 60px;
    margin: 5px;
}

/* ---(추가) 해더 우측 검색 버튼--- */
#haederRightContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

#haederRightContent_searchImg {
    width: 20px;
    width: 20px;
    cursor: pointer;
    margin-left: 3px;
}

#haederRightContent_input{
    border: #000000 solid;
    border-radius: 4px;
}

#searchForm_div{
    position: relative;
    display: flex;
    align-items: center;
}
/* --- --- */
/* -------------------------------------------------- */






/* managerlogin */
#container1 {
    width: 800px;
    height: 424px;
    margin: 0 auto;
    display: flex;
}

#loginLogo {
    width: 400px;
}

#loginContent {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#loginContent-form {
    margin: 0 20px;
    border: 1px solid black;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: rgba(200, 200, 200, 0.5);
}

#loginContent-form input[type="text"],
#loginContent-form input[type="password"] {
    width: 200px;
    /* 입력창의 너비 */
    height: 30px;
    /* 입력창의 높이 */
    margin-bottom: 10px;
    /* 입력창 사이의 간격 */
    padding: 5px;
    /* 입력창 내부 여백 */
    border: 1px solid #ccc;
    /* 입력창 테두리 */
    border-radius: 5px;
    /* 입력창 테두리 모서리의 곡률 */
    font-size: 16px;
    /* 입력창 내 텍스트 크기 */
}

#loginContent-form input[type="text"]:focus,
#loginContent-form input[type="password"]:focus {
    border-color: #000000;
    /* 포커스된 입력창의 테두리 색상 */
    outline: none;
    /* 포커스된 입력창의 외곽선 제거 */
}

#loginContent-form h5 {
    color: #000000;
    /* 텍스트 색상 */
    margin: 20px 0;
    /* 위아래 여백 설정 */
    text-align: center;
    /* 가운데 정렬 */
    position: relative;
    /* 상대 위치 설정 */
}

#loginContent-form h5:before,
#loginContent-form h5:after {
    content: "";
    /* 가상 요소에 내용 없음 설정 */
    display: inline-block;
    /* 인라인 요소로 설정 */
    width: 500%;
    /* 가로 길이를 부모 요소의 절반으로 설정 */
    border-top: 1px solid #000000;
    /* 가로 줄 스타일과 색상 설정 */
    position: absolute;
    /* 절대 위치 설정 */
    top: 50%;
    /* 상단 여백을 부모 요소의 중앙으로 설정 */
}

#loginContent-form h5:before {
    right: 100%;
    /* 가장 왼쪽에 위치 */
    margin-right: 10px;
    /* 가로 줄과 텍스트 사이의 여백 */
}

#loginContent-form h5:after {
    left: 100%;
    /* 가장 오른쪽에 위치 */
    margin-left: 10px;
    /* 가로 줄과 텍스트 사이의 여백 */
}

#loginText {
    font-size: 2.5em;
}

#loginContent-form button {
    width: 200px;
    height: 30px;
    margin-top: 20px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: #000000;
    border-radius: 5px;
}
#loginContent-form button:hover {
    background-color: #8a8a8a; /* 호버 시 버튼 배경색을 변경 */
}

#loginLogo>img {
    width: 400px;
}

#sign-upBox {
    margin: 10px 20px 0;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: rgba(200, 200, 200, 0.5);
}

#managerFindPassword,
#managerSignup {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

/* ------------------------------------------------- */






/* managerMain,superManagerMain */

#container2 {
    width: 300px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 40px;
    border: 1px solid black;
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 10px;
}

#container2> div:hover{
    background-color: #8a8a8a;
}

#mainAuthorization,
#mainDeliveryStatus,
#mainOrderManagement,
#mainBookreportManagement,
#mainBookManagement,
#mainUserManagement,
#mainDelivery {
    font-size: 20px; /* 원하는 크기로 설정 */
    width: 150px;
    height: 45px;
    border: 1px solid rgb(87, 87, 87);
    background-color: #000000;
    border-radius: 10px;
    padding : 8px 0;
}
/* ---------------------------------------------- */







/* customerOrderList */

 #orderListContent{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid black;
    background-color: white; 
 }

 #orderListBookContent{
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between
 }

 #orderListBookContent img{
    width: auto;
    height:150px;
 }

 #orderBookContent{
    height:150px;
    width: auto;
 }

 #orderListContentButton button{
    border: 1px solid;
    margin: 5px;
    height:40px;
    width: 90px;
    background-color: white;
    border-radius: 5px;
 }

 #deliveryTrackingButton{
    color: rgb(51, 140, 255);
    border: 1px solid rgb(51, 140, 255);
 }

 #orderListContentTop{
    display: flex;
    align-items: center;
    justify-content: space-between
 }

 #orderListContentTop{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
 }

/*----------------------------------------------*/





/*bookReportManagement*/
#BookReportManagementBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bookReportManagement_SerchBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(165, 165, 165);
    border-radius: 100px;
    margin: 15px;
    padding: 5px;
}

#bookReportManagement_SerchBox img{
    height: 20px;
    margin-right: 10px;
    vertical-align: middle; /* 이미지를 수직으로 가운데 정렬 */
}

#bookReportManagement_input {
    width: 230px;
    height: 30px;
    background-color: transparent;
    /* 배경색 투명으로 설정 */
    border: none;
    /* 테두리 제거 */
    direction: rtl;
    /* 오른쪽에서 왼쪽으로 입력되도록 설정 */
}

#bookReportManagement_input:focus {
    outline: none;
    /* 클릭 시 나타나는 태두리 제거 */
}

#BRB {
    border: black 2px solid;
    border-radius: 5px;
    width: 520px;
    height: 690px;
    background-color: #7e7d7d81;
}

#BRB_form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7px;
    margin-left: 20px;
    margin-right: 20px;
}

#bookReportManagement_listArea_contentView {
    border-radius: 5px;
    background-color: rgb(65, 65, 65);
    color: white;
    padding: 5px;
    width: 400px;
    height: 35px;
    white-space: nowrap;
    overflow: hidden;
    /* 넘치는 부분을 숨김 */
    text-overflow: ellipsis;
    /* 넘치는 부분에 생략 부호(...) 표시 */
}

#bookReportManagement_listArea_contentDel {
    margin-left: 10px;
}

#bookReportManagement_listArea_contentDel button {
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 65px;
    font-size: 16px;
    font-weight: bold;
}
/*----------------------------------------------*/